.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

*.log

# Go
ticket-service/ticket-service
ticket-service/*.exe

# OS / editor
.vscode/
.idea/
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example

# Kubernetes
*.secret.yaml
*.secret.yml

# Argo CD local files
argocd/*.local.yaml
argocd/*.local.yml
